<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">

      </div>
      <div class="col-md-3">
        <div class="card-header">
          <h4 class="card-title"><b>Calendario</b></h4>
        </div>
        <br>
        <div class="btns">
        <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
      </div>
        <hr />
        <div class="btns">
          <button class="btn btn-info" (click)="selectToday()">Hoy</button>
          <button class="btn btn-success" (click)="dp.navigateTo()">Ir a mes actual</button>
        </div>
        <hr />

        <!--    <pre>Fecha: {{ model.day }}.{{ date.month }}.{{ date.year }}</pre>
       <pre>Model: {{ model | json }}</pre>  -->
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>